* {
  /* margin: 0; */
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(55, 199, 187);
}

.buttons {
  display: flex;
  justify-content: space-around;
  min-height: 40vh;
  align-items: center;
}

button {
  padding: 10px 30px;
}

.running-score h1 {
  /* color: yellow; */
  text-align: center;
}
